<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
   <link rel="stylesheet" href="style.css">
</head>
<body>
   <%- include('navbar') %>
  <div id="list_parent">
      <h1>Task List Page</h1>

 
  <ul>
 
  <% data.forEach(element => { %>
  <div id="child">
    <li><%=element.task%></li>
 <li ><%=element.message%></li>
  <div id="btns">
  <button id="delete"><a href="/delete/<%= element._id.toString() %>">Delete</a></button>
  <button id="update"><a href="/update/<%= element._id.toString() %>">Update</a></button>
  </div>
  </div>
 <br>
<% }) %>
</ul>
 </div>
</body>
</html>